* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
}

@import "./mixin";
@import "./student";

.container {
    @include container;
}

.row {
    @include row;
}

.col-12 {
   
    @include PC {
        @include col-12;;
    }

    @include Tablet {
        @include col-12;
        
    }

    @include Mobile {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    
}

.col-8 {
    @include PC {
        @include col-8;
    }

    @include Tablet {
        @include col-8;
    }

    @include Mobile {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .col-8-4 {
        @include PC {
            @include col-8-2;
        }
        @include Tablet {
            @include col-8-2;
            width: 50%;
        }
        @include Mobile {
            @include col-8-2;
            width: 100%;
        }
    }
}
.col-8-2 {
    @include PC {
        @include col-8-2;
    }
    @include Tablet {
        @include col-8-2;
        width: 50%;
    }
    @include Mobile {
        @include col-8-2;
        width: 100%;
    }
}

.col-8-4 {
   
    @include PC {
        @include col-8-4;
    }
    @include Tablet {
        @include col-8-4;
        width: 50%;
    }
    @include Mobile {
        @include col-8-4;
        width: 100%;
    }
}

.col-4 {
    @include PC {
        @include col-4;
    }

    @include Tablet {
        @include col-4;
    }

    @include Mobile {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin: 30px;

}

.form-input {
    position: relative;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 1px 1px 2px #15101038;
    height: 600px;
    display: none;
}

.create-student {
    @include btn;
    background-color: rgb(77, 133, 22);
    width: 150px;
}

.edit{
    display: none;
}

@import "./form-input";
@import "./loader";